/*Style reset*/
body,div,p,ul,ol,dl,dt,dd,li,form,input,table,th,td,img,h1,h2,h3,h4,h5,h6 { margin:0 ;padding:0; }
body { background:#fff ; color:#414141; font-size:12px; font-style:normal; font-family:"Microsoft Yahei";}
em, b, i { font-style:normal;}
img { border:none;}
a { text-decoration:none; color:#414141;}
a:hover { text-decoration:underline; color:#f50;}
li { list-style:none;}
table { border-spacing:0; border-collapse:collapse;}
.flt{float: left}
.frt{float: right}
.clear { clear: both;}
.clearfix { *zoom: 1;}
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: "";}
.clearfix:after { clear: both;}
/*this end*/
/*header*/
.header-wrap{
    width: 100%;
    /*height: 673px;*/
    margin: 0 auto;
    background-color: #fff;
}
.header-wrap .top-wrap{
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e9e9e9;
}
.top-wrap .top-nav{
    width: 1200px;
    height: 32px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 32px;
}
.top-nav a:hover{
    text-decoration: none;
    color: #414141;
}
.top-nav-left .city{
    display: inline;
}
.icon-d{
    display: inline-block;
    width: 10px;
    height: 6px;
    background: url("../image/icon-d.png") no-repeat;
    margin: 0px 0px 2px 6px;
    line-height: 6px;
    overflow: hidden;
}
.top-nav-left .city-list{
    line-height: 20px;
}
.top-nav-left .city-list{
    display: none;
}
.top-nav-left .city:hover dl{
    display: block;
    width: 50px;
    position: absolute;
    text-align: center;
    margin-left: 30px;
    margin-top: -8PX;
    background-color: #fff;
}
.top-nav-left .city-list a:hover{
    color: #ed145b;
}
.top-nav ul li{
    display: inline-block;
    line-height: 12px;
    padding: 0 9px;
    border-left: 1px solid #414141;
}
.top-nav ul li:first-child{
    border-left: 0;
}

.top-nav .top-nav-centre{
    width: 600px;
    margin-left: 47px;
}
.login span a{
    color: #ed145b;
}
.login span a:hover{
    color: #ed145b;
}
.top-nav-centre ul .login a{
    display: inline-block;
    line-height: 12px;
}
.header-wrap .header-layout{
    width: 1200px;
    height: 109px;
    /*background-color: #222;*/
    margin: 0 auto;
}
.header-layout .logo{
    width: 203px;
    height: 69px;
    background: url("../image/logo.png") no-repeat;
    margin-top: 19px;
}
.logo a{
    display: inline-block;
    width: 203px;
    height: 69px;
    font-size: 0;
}
.search{
    display: inline-block;
    /*width: 561px;*/
    height: 70px;
    margin: 26px 0px 0px 129px;
    font-size: 0px; /*去除2个相邻input、button标签之间的空隙*/
}
.search .search-text{
    width: 440px;
    border: 3px solid #ed145b;
    border-radius: 3px 0px 0px 3px;
    text-align: left;
    font-size: 14px;
    line-height: 32px;
    padding-left: 5px;
    outline-style: none; /*去除边框激活蓝色轮廓*/
}
.search .search-button{
    border: 3px solid #ed145b;
    border-radius: 0px 3px 3px 0px;
    background-color: #ed145b;
    padding: 8px 30px;
    line-height: 16px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.search .search-link a{
    font-size: 12px;
    color: #8e8d8d;
    line-height: 22px;
    padding-right: 17px;
}
.search-link p a:hover{
    text-decoration: none;
    color: #ed145b;
}

.header-layout .shoppingcart{
    /*display: inline-block;*/
    width: 143px;
    height: 36px;
    margin-top: 26px;
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
}
.shoppingcart .icon-cart{
    width: 46px;
    height: 36px;
    background-color: #fff;
    overflow: hidden;
}
.shoppingcart .icon-cart i{
    display: block;
    width: 25px;
    height: 19px;
    margin: 8px auto;
    background: url("../image/icon-cart.png") no-repeat;
}
.cart-link .cart-link-one a{
    display: inline-block;
    font-size: 12px;
    line-height: 36px;
}
.cart-link .cart-link-one a:hover{
    text-decoration: none;
}
.cart-link .cart-link-two{
    display: none;
}
.cart-link:hover .cart-link-two{
    width: 100px;
    display: block;
    position: absolute;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    margin-left: 45px;
    margin-top: -10px;
    background-color: #f8f8f8;

}
.header-wrap .nav{
    width: 100%;
    height: 40px;
    background: url("../image/nav-bg.png") repeat-x;
}
.nav .nav-content{
    width: 1200px;
    margin: 0 auto;
}
.nav-content .nav-list{
    width: 210px;
    height: 40px;
    background-color: #aa234f;
    margin-right: 35px;
    position: relative;
}
.nav-content .nav-list p{
    font-size: 14px;
    text-align: left;
    line-height: 40px;
    color: #fff;
    padding-left: 17px;
}
.nav-content .nav-list-itme{
    width: 210px;
    height: 474px;
    background-color: #f03572;
    position: absolute;
    top: 40px;
    left: 0px;
}
.nav-list-itme li{
    height: 23px;
    margin: 12px 0px 12px 25px;
}
.nav-list-itme li a{
    display: inline-block;
    font-size: 12px;
    line-height: 23px;
    color: #fff;
    line-height: 23px;
    padding-left: 25px;
}
/*.nav-list-itme li a:hover{
    color: #fff;
    text-decoration: none;
}*/
.nav-list-itme li i{
    display: inline-block;
    line-height: 23px;
    background: url("../image/icon-navlist.png") no-repeat;  /*inline-block高度会根据图片高度撑开*/
}
.nav-link ul li{
    display: inline-block;
    padding-left: 30px;
}
.nav-link li a{
    font-size: 14px;
    text-align: left;
    line-height: 40px;
    color: #fff;
}
.nav-link li a:hover{
    text-decoration: none;
    color: #ed145b;
}
.banner ul .banner-a{
    width: 100%;
    height: 475px;
    background: url("../image/banner-a.jpg") no-repeat center center;
    background-size: cover;/*全屏显示代码*/
}
/*tuijan */
.tuijian-wap{
    width: 100%;
    height: 160px;
    background: url("../image/tuijian-bg.png") repeat-x;
    margin-top: 30px;
}
.tuijian-wap .tuijian{
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    position: relative;
}
.tuijian .plus{
    width: 17px;
    height: 30px;
    background: url("../image/icon-plus.png") no-repeat;
    position: absolute;
    left: 1193px;
    top: 60px;
    cursor: pointer;

}
.tuijian .time{
    width: 210px;
    height: 150px;

}
.tuijian .time img{
    display: block;
    width: 76px;
    height: 76px;
    padding:24px 0 0 66px;
}
.tuijian .time span{
    display: block;
    font-size: 18px;
    color: #a31a47;
    text-align: center;
    line-height: 38px;
}
.tuijian .scroll{
    width: 990px;
    height: 165px;
    /*background-color: red;*/
}
.tuijian .scroll ul li{
    float: left;
    width: 300px;
    height: 165px;
}

.tuijian .scroll ul h3{
    padding: 38px 0 0 19px;
    font-size: 18px;
    color: #333333;
    line-height: 36px;
    text-align: left;
    font-weight: normal;

}
.tuijian .scroll ul span{
    padding: 38px 0 0 19px;
    font-size: 12px;
    color: #4f4f4f;
    line-height: 12px;
    text-align: left;

}
.top-brands{
    width: 1200px;
    margin: 0 auto;
    margin-top: 69px;
}
.top-brands .title{
    width: 1200px;
    /*height: 34px;*/
    border-bottom: 1px solid #dcdcdc;
}
.top-brands h3{
    display: inline-block;
    font-size: 24px;
    color: #333333;
    line-height: 38px;
    font-weight:normal;

}
.top-brands .nav{
    display: inline-block;
    margin-left: 72px;
}
.top-brands ul li{
    font-size: 14px;
    float: left;
    margin-left:
    color: #5c5c5c;
    padding-left: 15px;
}
.top-brands ul a:hover{
    border-bottom: 1px solid #5c5c5c;
    text-decoration: none;
    color: #5c5c5c;
}
.top-brands .content{
    margin-top: 10px;
}
.top-brands .content-left{
    float: left;
    width: 200px;
    height: 340px;
}
.top-brands .content-center{
    display: inline-block;
    width: 800px;
    height: 340px;
    background-color: #fff;
}
.top-brands table{
    border: 2px solid #dcdcdc;
}
.top-brands td{
    width: 158px;
    height: 83px;
    border: 2px solid #dcdcdc;
    text-align: center;
}
.top-brands .content-right{
    float: right;
    width: 200px;
    height: 340px;
}
.f1{
    width: 1200px;
    height: 500px;
    margin: 33px  auto 0;
    background-color: #ffff01;
}
